@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  min-height: 100vh;
  
}

#root {
  min-height: 100vh;
  background: hsl(0, 0%, 98%);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5vw;
  padding-block: 2vh;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.8rem;
  font-weight: 800;
}

.title:hover {
  cursor: pointer;
}

.theme-switcher {
  display: flex;
  align-items: center;
  gap: 10px;
}

.theme-switcher-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.theme-switcher:hover {
  cursor: pointer;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 5vh;
}

main {
  height: 100%;
  padding-inline: 5vw;
  
}

.main-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  column-gap: 5vw;
  row-gap: 10vh;
}

.loader-wrapper {
  grid-column: 1 / span 4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  background: white;
  gap: 20px;
  height: 50px;
  padding-inline: 20px;
  min-width: 30vw;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
  position: relative;
}

.spinner {
  align-self: center;
  justify-self: center;
}

.search-results-wrapper {
  z-index: 1;
  display: flex;
  flex-direction: column;

  position: absolute;
  width: 100%;
  height: fit-content;
  max-height: 20vh;
  overflow-y: scroll;
  left: 0;
  bottom: 0;
  transform: translateY(102%);
  background: white;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}

.search-results-wrapper::-webkit-scrollbar {
  width: 10px;
}

.search-results-wrapper::-webkit-scrollbar-track {
  background: #FFFFFF;
}

/* Handle */
.search-results-wrapper::-webkit-scrollbar-thumb {
  background: #888;
}

.search-result-item {
  /* z-index: 1; */
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);;
}

.search-result-item:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
}

.search-input {
  width: 80%;
  border: none;
}

.search-input:focus {
  outline: none;
}

.filter-wrapper {
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 15vw;
  width: fit-content;
  border-radius: 5px;
  padding-inline: 20px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
  background: white;
}

.arrow-icon {
  color: rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.filter-wrapper.opened .arrow-icon {
  transform: rotateZ(-180deg);
}

.filter-region {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateY(102%);
  background: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  animation: scrolldown 0.3s;
}

.filter-wrapper:hover {
  cursor: pointer;
}

.filter-item {
  padding: 10px 20px;
}

.filter-item.reset {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-item:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
}

@keyframes scrolldown {
  0% {
    bottom: 0;
    height: 0;
    transform: scaleY(0) translateY(165%);
  }
  100% {
    height: fit-content;
    transform: scaleY(1) translateY(102%);
  }
}


.link-back {
  margin-block: 10vh;
  padding: 10px 40px;
  background: white;
  width: fit-content;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.link-back:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.country-section {
  display: flex;
  align-items: start;
  gap: 5vw;
}

.flag {
  width: 50%;
}

.country-info {
  width: 50%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

.country-info-name {
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 2vh;
}

.country-info-stats {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5vh;
}

.country-borders {
  display: flex;
  align-items: start;
  gap: 15px;
}

.country-borders-title {
  font-weight: 800;
}

.country-borders-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /* grid-template-columns: repeat(4,auto);
  gap: 15px; */
}

.border-item {
  width: fit-content;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.05);
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: white;
}

.border-item:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
}